################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Redactor/bin/Debug
/Redactor/obj/Debug
